@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:400,700&display=swap');
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }   
    #{$property}: $value;
  }

$purple: #9C42EA;
$pink: #FF46B8;
$darkGray: #2e2e2e;
$gray: #777777;
$offWhite: #eee;

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: $gray;
    background-color: fff;
}
h2 {
    color: $purple;
    font-size: 1.22em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    &::before {
        display: inline-block;
        content: "";
        border-top: 1px solid $gray;
        width: calc(9rem - 15px);
        margin: 0 15px 0 -9rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
h3 {
    color: $darkGray;
    font-size: 1.5em;
    font-weight: 700;
}
p {
    line-height: 1.5;
    font-size: 18px;
}
a{ 
    text-decoration: none;
    font-size: 16px;
    color: $purple;
    &:not(.hire-a):hover{
        text-decoration: underline;
    }
}
ul {
    list-style-type: none;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
//------------------------------------------------------HERO
.hero {
    height: 100vh;
    position: relative;
}
.hero-h1 {
    position: absolute;
    bottom: 20%;
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    line-height: 1.2;
    padding-bottom: 10px;
    word-wrap: break-word;
    color: $purple;
    background: linear-gradient(135deg, $purple, $pink);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.nav-bar {
    display: none;
}
.navBar--mob {
    position: absolute;
    top: 45px;
    right: 45px;
    z-index: 1;
    .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            position: relative;
            width: 100%;
            height: 3px;
            background-color: $purple;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            &::before, &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: -10px;
                width: 100%;
                height: 3px;
                background: inherit;
            }
            &::after {
                top: 10px;
            }
        }
    }
    .toggler:checked ~ .nav--mob {
        visibility: visible;
        opacity: 1;
    }
    .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
    .toggler:checked + .hamburger > div::before,
    .toggler:checked + .hamburger > div::after {
        top: 0;
        transform: rotate(90deg);
    }
    .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    .nav--mob {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex: none;
        align-items: center;
        overflow: hidden;
        background: white;
        opacity: 0;
        transition: all 0.4s ease;
        > ul {
            width: 80%;
            margin: 0 auto;
            li {
                margin: 1em auto;
                a {
                    font-size: 2em;
                    font-weight: 700;
                }
            }
        }
    }
}
//------------------------------------------------------PROJECTS
.projects {
    margin: 3em auto 0 auto;
    padding-top: 3em;
    ul {
        margin: 2.5em 0 0 0;
    }
}
.card {
    margin-bottom: 4em;
    img {
        width: 100%;
        margin: 0 0 1em 0;
        border-radius: 3px;
        box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.20);
    }
    .cardInfo {
        h2 {
            margin-bottom: 0.2em;
        }
        p {
            margin-bottom: 0.8em;
        }
    }
    .btn {
        display: inline-block;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        padding: 0.7em 2em;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        &:hover {
            transition: all 0.2s ease;
            text-decoration: none;
        }
    }
    .btn-live {
        color: $purple;
        border: 1.5px solid $purple;
        background-color: transparent;
        &:hover{
            background-color: $purple;
            color: #fff;
        }
    }
    .btn-src {
        margin-left: 3px;
        padding: 0.7em 2em;
        color: $gray;
        background-color: transparent;
        &:hover{
            background-color: $offWhite;
        }
    }    
}
.h3-blurb {
    text-align: center;
    color: $gray;
    margin: 4em 0;
    a {
        font-size: inherit;
        color: $purple;
    }
}
//------------------------------------------------------PROJECTS
.hire, footer {
    background-color: $offWhite;
    // z-index: -2;
}
.hire {
    padding: 3em 0;
    .hire-a {
        position: relative;
        display: inline-block;
        color: $darkGray;
        font-size: 1.1em;
        font-weight: 700;
    }
    .contact {
        margin: 3em auto 9em auto;  
    }
    .mail {
        margin: 0 0 0.7em 0;
    }
}
.foot-nav {
    margin: 0 0 3.3em 0;
    li {
        margin: 0 0 0.5em 0;
    }
}
.detail {
    width: 100%;
    border-top: 10px solid $purple;
    margin-top: 2em;
}
//-----------------------------------------------------------TBLT QUERY
@media screen and (min-width: 900px) {
    .hero {
        padding: 0;
        .hero-h1 {
            font-size: 100px;
            line-height: 1;
            padding-bottom: 25px;
        }
        .navBar--mob {
            display: none;
        }
        .nav-bar {
            display: block;
            width: 100%;
            padding-top: 2em;
            margin-bottom: 2em;
            text-align: right;
            a {
                margin-left: 55px;
                color: $purple;
                &:last-child {
                    font-weight: 700;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .projects {
        margin: 5em auto 0 auto;
        .card {
            display: flex;
            align-items: center;
            margin-bottom: 3em;
            img {
                width: 45%;
                margin: 0 80px 0 0;
                border-radius: 7px;
            }
            .cardInfo {
                h3 {
                    margin-bottom: 0.3em;
                }
                p {
                    margin-bottom: 2em;
                }
            }
            .btn {
                padding: 0.7em 3em;
                font-size: 13px;
            }
            .btn-live {
                border: 2px solid $purple;
            }
        }
    }
    .hire {
        .hire-a {
            font-size: 3em;
            position: relative;
            z-index: 0;
            &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: -1;
                width: 10%; 
                height: 8px;
                bottom: 2px;
                left: 0;
                background: $purple;
                transition: width .3s ease;
            }
            &:hover:after{
                width: 100%;
            }
        }
        .contact {
            margin: 4em auto 11em auto;
        }
    }
    .foot {
        display: flex;
        justify-content: space-between;
        .foot-nav {
            margin: 0 0 0 0;
            li {
                display: inline;
                margin: 0 55px 0 0;
            }
        }
    }
    .detail {
        margin: 1.5em 0 0 0;
    }
}
//-----------------------------------------------------------DSKTP QUERY
@media screen and (min-width: 1200px) {
    .hero {
        padding: 0;
        .hero-h1 {
            font-size: 160px;
        }   
    }
    .projects {
        .card {
            .btn {
                padding: 0.7em 3em;
                font-size: 15px;
            }
        }
    }
    .hire {
        .hire-a {
            font-size: 3.4em;
        }
    }
}