@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:400,700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #777777;
  background-color: fff;
}

h2 {
  color: #2e2e2e;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  color: #9C42EA;
  font-size: 1.22em;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

h3::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #777777;
  width: calc(9rem - 15px);
  margin: 0 15px 0 -9rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

p {
  line-height: 1.5;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #9C42EA;
}

a:not(.hire-a):hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero-h1 {
  position: absolute;
  bottom: 25%;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  padding-bottom: 10px;
  word-wrap: break-word;
  color: #9C42EA;
  background: linear-gradient(135deg, #9C42EA, #FF46B8);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-bar {
  display: none;
}

.navBar--mob {
  position: absolute;
  top: 45px;
  right: 45px;
  z-index: 1;
}

.navBar--mob .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.navBar--mob .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBar--mob .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #9C42EA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navBar--mob .hamburger > div::before, .navBar--mob .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

.navBar--mob .hamburger > div::after {
  top: 10px;
}

.navBar--mob .toggler:checked ~ .nav--mob {
  visibility: visible;
  opacity: 1;
}

.navBar--mob .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navBar--mob .toggler:checked + .hamburger > div::before,
.navBar--mob .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navBar--mob .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.navBar--mob .nav--mob {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: white;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navBar--mob .nav--mob > ul {
  width: 80%;
  margin: 0 auto;
}

.navBar--mob .nav--mob > ul li {
  margin: 1em auto;
}

.navBar--mob .nav--mob > ul li a {
  font-size: 2em;
  font-weight: 700;
}

.projects {
  margin: 9em auto 0 auto;
  padding: 3em 0;
}

.projects ul {
  margin: 2.5em 0 0 0;
}

.card {
  margin-bottom: 4em;
}

.card img {
  width: 100%;
  margin: 0 0 1em 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.2);
}

.card .cardInfo h2 {
  margin-bottom: 0.2em;
}

.card .cardInfo p {
  margin-bottom: 0.8em;
}

.card .btn {
  display: inline-block;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding: 0.7em 2em;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.card .btn:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card .btn-live {
  color: #9C42EA;
  border: 1.5px solid #9C42EA;
  background-color: transparent;
}

.card .btn-live:hover {
  background-color: #9C42EA;
  color: #fff;
}

.card .btn-src {
  margin-left: 3px;
  padding: 0.7em 2em;
  color: #777777;
  background-color: transparent;
}

.card .btn-src:hover {
  background-color: #eee;
}

.h2-blurb {
  text-align: center;
  color: #777777;
  margin: 5em 0;
}

.h2-blurb a {
  font-size: inherit;
  color: #9C42EA;
}

.hire, footer {
  background-color: #eee;
}

.hire {
  padding: 3em 0;
}

.hire .hire-a {
  position: relative;
  display: inline-block;
  color: #2e2e2e;
  font-size: 1.3em;
  font-weight: 700;
}

.hire .contact {
  margin: 3em auto 9em auto;
}

.hire .mail {
  margin: 0 0 0.7em 0;
}

.foot-nav {
  margin: 0 0 3.3em 0;
}

.foot-nav li {
  margin: 0 0 0.5em 0;
}

.detail {
  width: 100%;
  border-top: 10px solid #9C42EA;
  margin-top: 2em;
}

@media screen and (min-width: 900px) {
  .hero {
    padding: 0;
  }
  .hero .hero-h1 {
    font-size: 100px;
    line-height: 1;
    padding-bottom: 25px;
    margin-top: 45%;
  }
  .hero .navBar--mob {
    display: none;
  }
  .hero .nav-bar {
    display: block;
    width: 100%;
    margin: 2em auto;
    text-align: right;
  }
  .hero .nav-bar a {
    margin-left: 55px;
    color: #9C42EA;
  }
  .hero .nav-bar a:last-child {
    font-weight: 700;
  }
  .hero .nav-bar a:hover {
    text-decoration: underline;
  }
  .projects {
    margin: 35vh auto 0 auto;
  }
  .projects .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3em;
  }
  .projects .card img {
    width: 45%;
    margin: 0 80px 0 0;
    border-radius: 7px;
  }
  .projects .card .cardInfo h2 {
    margin-bottom: 0.3em;
  }
  .projects .card .cardInfo p {
    margin-bottom: 2em;
  }
  .projects .card .btn {
    padding: 0.7em 3em;
    font-size: 13px;
  }
  .projects .card .btn-live {
    border: 2px solid #9C42EA;
  }
  .hire .hire-a {
    font-size: 3em;
    position: relative;
    z-index: 0;
  }
  .hire .hire-a::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 10%;
    height: 8px;
    bottom: 2px;
    left: 0;
    background: #9C42EA;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
  }
  .hire .hire-a:hover:after {
    width: 100%;
  }
  .hire .contact {
    margin: 4em auto 11em auto;
  }
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foot .foot-nav {
    margin: 0 0 0 0;
  }
  .foot .foot-nav li {
    display: inline;
    margin: 0 55px 0 0;
  }
  .detail {
    margin: 1.5em 0 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 0;
  }
  .hero .hero-h1 {
    font-size: 160px;
    margin-top: 25%;
  }
  .projects .card .btn {
    padding: 0.7em 3em;
    font-size: 15px;
  }
  .hire .hire-a {
    font-size: 3.4em;
  }
}
/*# sourceMappingURL=style.css.map */